@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #17202A;
	position: sticky;
	top: 0;
	padding: 1rem 3rem;
    z-index: 2;
    
}

header a{
	padding: 2rem;
	text-decoration: none;
    color:white;
    font-size: 1.25rem;
}

#bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
}
#home{
    text-align: center;
    color: white;
    border-bottom: 2px solid rgb(94, 91, 91);
    padding-bottom: 3rem;
    
}
body::after{
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color:  #5495DE;
	opacity: 0.8;
	z-index: -1;
}
#profile{
    height: 15%;
    width: 15%;
    border-radius: 50%;
    margin-top: 50px;
}
.divider-line {
    width: 100%;
    max-width: 7rem;
    height: 0.25rem;
    background-color: #0a0a0a;
    border-radius: 1rem;
    border-color: #0a0a0a;
  }

  .divider{
    margin: 1.25rem 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #logo{
      width: 3rem;
      height: 2.5rem;
      vertical-align: middle;
  }
  .brand a{
    display: inline-b;
  }
  .fa-star{
      margin: 0 1rem;
      color: #0a0a0a;
  }
  #about{
      text-align: center;

      color: white;

      padding: 3rem 0;
  }
  #about h1{
    margin-bottom: 3rem;
  }
  #about a{
      margin-top: 3rem;
      padding: 0.5rem 2rem;
      border: 1px solid white;
      border-radius: 7px;
      text-decoration: none;
      color: white;
  }
  .real-me{
      display: flex;
      justify-content: space-evenly;
      margin: 4rem 0;

  }
  .real-me > div{
      width: 30vw;
      padding: 3rem;
      box-shadow: 0 3px 5px rgb(26, 25, 25);
      border-radius: 2em;
      background-color: #5495DE;
  }
  footer{
      background-color: #17202A;
      color: white;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 2rem 0rem;
      align-items: center;

  }
 .data, .location{
     text-align: center;
 }
 .data a{
    margin-right: 0.5em;
 }
 .fa-facebook{
     color: blue;
     border: 1px solid white;
     border-radius: 50%;
     padding: 6px 3px;
 }
 .fa-twitter{
    color: cornflowerblue;
    border: 1px solid white;
    border-radius: 50%;
    padding: 6px 3px;
 }
 .fa-google{
     color: firebrick;
 }
 .fa-linkedin-in{
    color: rgb(53, 53, 187);
    border: 1px solid white;
    border-radius: 50%;
    padding: 6px 3px;
 }
 .fa-github{
     color: rgb(207, 205, 205);
     border: 1px solid white;
     border-radius: 50%;
     padding: 6px 3px;
 }

 /*My Blog*/
 .blog-container{
     background-color: gainsboro;
     height: 70vh;
     display: flex;
     align-items: center;
 }
 .blog-container > div{
     width: 50%;
     margin-left: 5em;
     
 }
 .blog-container h1{
    font-size: 3em;
 }
 .blog-container p{
     font-size: 1.3em;
 }
 .blog-container a{
    font-size: 1.5em;
    border: 2px solid rgb(104, 104, 158);
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 10px;
    color: darkslateblue;
 }
 .form {
     display: flex;
     justify-content: space-evenly;
 }
 /*Login form*/
 .login-container{
    background-image: linear-gradient(20deg, #27bce2 , #af43f5);
 }
 .login-form{
     height: 50vh;
     width: 25vw;
     background-color: white;
     margin: 0 auto;
     padding: 8rem 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     box-shadow: 0 3px 5px rgb(26, 25, 25);
     border-radius: 5px;
     margin-top: 2rem;
     margin-bottom: 2rem;
 }
 input{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(151, 147, 147);
    outline-style: none;
 }
.login-form button{
    padding: 0.4rem;
    background-image: linear-gradient(to right, #27bce2 , #af43f5);
    border: royalblue;
    border-radius: 50px;
}
.login-form p{
    text-align: center;
}
.login-form h1{
    text-align: center;
    text-transform: uppercase;
}
.account{
text-align: center;
margin-top: 1em;
    
}
.account span{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    
}

/*Sign Up Page*/
.login-container{
    background-image: linear-gradient(20deg, #27bce2 , #af43f5);
 }
 .signup-form{
     height: 50vh;
     width: 25vw;
     background-color: white;
     margin: 0 auto;
     padding: 8rem 4rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     box-shadow: 0 3px 5px rgb(26, 25, 25);
     border-radius: 5px;
     margin-top: 2rem;
     margin-bottom: 2rem;
 }
 input{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid rgb(151, 147, 147);
    outline-style: none;
 }
.signup-form button{
    padding: 0.4rem;
    background-image: linear-gradient(to right, #27bce2 , #af43f5);
    border: royalblue;
    border-radius: 50px;
}
.signup-form p{
    text-align: center;
}
.signup-form h1{
    text-align: center;
    text-transform: uppercase;
}
/*End*/
